/* Header.tsx */


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 0 30px;


    & div {
        display: flex;
        flex-direction: column;
        align-items: center;

        & button {
            padding: 5px;
            font-size: large;
            color: var(--color-main-black);
            cursor: pointer;

            transition: border 300ms linear;
        }

        & hr {
            border: 1px solid var(--color-main-black);
            border-radius: 10px;
            width: 80%;
            transition: width 300ms linear;
        }


    }

    & div:hover {
        & hr {
           width: 110%;
        }
    }

    & div:active{
        & hr{
            width: 50%;
        }
    }


}



