.authorization-wrapper{
    display: flex;
    flex-direction: column;
    color: var(--color-main-black);
    align-items: center;
    gap:10px;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .auth-options {

        display: flex;
        gap: 10px;
        & div {
            display: flex;
            gap: 5px;
            cursor: pointer;
            padding: 4px;
            border-radius: 6px;
            text-decoration: none;
            color: inherit;
            outline: 1px solid var(--color-main-black);
            transition: all 200ms linear;
        }

        & div:hover{
            background-color: var(--color-main-black);
            color: var(--color-main-white);
        }
    }
}